<div class="about_main layout_padding">
  <div class="collection_section">
    <div class="container">
      <h1 class="new_text"><strong>Objava novega oglasa</strong></h1>
      <p class="consectetur_text">Izpolnite spodnji razdelek in objavite novo povpraševanje ali oglas storitve. </p>
    </div>
  </div>

  <div class="collection_section_3 layout_padding">
    <div class="container">
      <div class="racing_shoes">
        <div class="row">
          <div class="col">
            <div class="upload">
              <div class="input_main">
                <div class="container">
                  <form action="/action_page.php">
                    <div class="form-group">
                      <input type="text" class="email-bt" placeholder="Naslov oglasa" name="naslov">
                    </div>
                    <div class="form-group">
                      <label>Datum in čas</label>
                      <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                    </div>
                    <div class="form-group">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Izberi trajanje storitve</option>
                        <option value="1">1 uro</option>
                        <option value="2">2 uri</option>
                        <option value="3">3 ure</option>
                        <option value="3">4 ure</option>
                        <option value="3">5 ur</option>
                        <option value="3">6 ur</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="text" class="email-bt" placeholder="Kraj" name="kraj">
                    </div>
                    <div class="form-group">
                      <input type="text" class="email-bt" placeholder="Kontakt" name="kontakt">
                    </div>

                    <div class="form-group">
                      <textarea class="massage-bt" placeholder="Opis zahtev" rows="5" id="zahteve" name="zahteve"></textarea>
                    </div>

                    <div class="form-group">
                      <input class="email-radio-btn" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="email-radio-text" for="flexRadioDefault1">
                        Povpraševanje
                      </label>
                    </div>

                    <div class="form-group">
                      <input type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="email-radio-text" for="flexRadioDefault1">
                        Storitev
                      </label>
                    </div>

                  </form>
                </div>
                <div class="send_btn">
                  <button class="main_bt">Objava</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>