<div class="about_main layout_padding">
    <div class="collection_section">
        <div class="container">
            <h1 class="text-center"><strong>Profil</strong></h1>
            <p class="consectetur_text">---</p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col">
                <div class="col">
                    <div class="border bg-light" id="objava1">
                        Objava 1
                        <button type="button" class="btn btn-primary">Oceni</button>
                    </div>
                </div>

                <div class="col">
                    <div class="border bg-light" id="objava2">
                        Objava 2
                        <button type="button" class="btn btn-primary">Oceni</button>
                    </div>
                </div>

                <div class="col">
                    <div class="border bg-light" id="objava3">
                        Objava 3
                        <button type="button" class="btn btn-primary">Oceni</button>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div>
                    <h3 class="text-center" id="kontakt">Ime</h3>
                    <h3 class="text-center" id="kontakt1">Priimek</h3>
                    <h3 class="text-center" id="kontakt2">Kontakt</h3>
                    <h3 class="text-center" id="ranking">Ranking</h3>
                    <h3 class="text-center" id="povp_ocena">Povprečna ocena:</h3>
                </div>
            </div>

            <div class="col">
                <div class="col">
                    <div class="border bg-light" id="komentar1">Komentar 1</div>
                </div>

                <div class="col">
                    <div class="border bg-light" id="komentar2">Komentar 2</div>
                </div>

                <div class="col">
                    <div class="border bg-light" id="komentar3">Komentar 3</div>
                </div>
            </div>
        </div>
    </div>

</div>